{% extends 'base.twig' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Contact</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="padding-bottom: 50px">
        <p>If you need to</p>
        <ul>
            <li>update information about your mod,</li>
            <li>remove(unlist) your mod,</li>
            <li>or report an issue with either this page or client-side mod (and you don't want to create Github account)</li>
        </ul>
        <p>you can contact us via</p>
        <ul>
            <li>e-mail: <a href="mailto:contact@openmods.info">contact@openmods.info</a></li>
            <li>IRC: <a href="http://chat.mibbit.com/?channel=%23openmods&amp;server=irc.esper.net">#openmods</a> or <a href="http://chat.mibbit.com/?channel=%23openeye&amp;server=irc.esper.net">#openeye</a> at EsperNet</li>
        </ul>
    </div>
</div>
{% endblock %}
